*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  place-content: flex-start;

  background-color: #333;
}

.item {
  width: 200px;
  height: 200px;

  background-color: white;
}
